@page "/events"
@using Front.Services
@inject IEventService EventService
@inject NavigationManager NavigationManager

<PageTitle>Eventos</PageTitle>

<h1>Your events</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Local</th>
        <td>Description</td>
        <td>Category</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var e in EventService.Events)
    {
        <tr>
            <td>@e.Name</td>
            <td>@e.Date</td>
            <td>@e.Location</td>
            <td>@e.Description</td>
            <td>@e.Category</td>
            <td>
                <button class="btn btn-primary" @onclick="() => ShowEvent(e.Id.ToString())">
                    <i class="oi oi-pencil"></i>
                </button>
            </td>
        </tr>
    }
    </tbody>
    <br/>
    <button class="btn btn-primary" @onclick="HandleCreateEvent">
        Create new event
    </button>
</table>

@code
{
    void ShowEvent(string id)
    {
        NavigationManager.NavigateTo($"event/{id}");
    }

    void HandleCreateEvent()
    {
        NavigationManager.NavigateTo("event");
    }
    
    protected override async Task OnInitializedAsync()
    {
        await EventService.GetEvents();
    }
}
